body {

    margin: 0;
    padding: 0;
    background-color: pink;

}


/* Rotates the img in the angle you choose */
/* img {

    width:   420px;
    transform: rotate(45deg);

} */



/* Increase or decrease the img size the direction you choose (x,y) */
/* img {

    width:   420px;
    transform: scale(2,1);

} */

/* Deform the image based in the angle you choose */
img {

    width:   420px;
    transform: skew(40deg);

}


/* Make it works in browsers with other versions */
div {

    width: 420px;
    height: 300px;
    -webkit-transform: skew(30deg, 30deg) scale(0.7, 1); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: skew(30deg, 30deg) scale(0.7, 1); /* IE 9 */
    transform: skew(30deg, 30deg) scale(0.7, 1); /* IE 10, Fx 16+, Op 12.1+ */
    background-color: purple;


}