/* Make the customization work only in the input you're using */

input:focus{

    color: purple;

}

/* Apply changes in the first child element inside a father element */

/* li:first-child {

    color: pink;

} */


/* Apply changes in the first element of the type inside some father element */

/* li:first-of-type {


    color: pink;

} */

/* Allows you to choose which respective element you want to change with his number position */

/* li:nth-child(2) {


    background-color: purple;
    color: pink;

}

li:nth-of-type(2) {


    background-color: purple;
    color: pink;

} */

/* Allows you to choose which respective element you want to change with his number position from the end to the begining */
/* 
li:nth-last-child(2) {


    background-color: purple;
    color: pink;

} */


/* Change elements that are divisible by 2 */

/* li:nth-child(2n) {


    background-color: purple;
    color: pink;

} */

li {

    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;

}

li:nth-child(even) {


    background-color: purple;
    color: pink;

}

li:nth-child(odd) {


    background-color: pink;
    color: purple;

}

ul {

    margin: 0;
    padding: 0;

}