
/* Put a background in each element using the width property */

/* [width] {

 background-color: pink;

} */

/* Put a background in each element using the width property equals to 500 */


/* [width="500"] {

    background-color: pink;
   
} */

/* Put a background in each element using the title property with the "title" value */

/* [title~="title"] {

    background-color: pink;
   
} */


/* Put a background in each element using the title property which the value starts with the "t" letter */

/* [title^="t"] {

    background-color: pink;
   
} */


/* Put a background in each element using the title property which the value ends with the "1" number */

/* [title$="1"] {

    background-color: pink;
   
} */

/* Put a background in each element using the title property which the value contains the "tle" letters in any position */

[title*="tle"] {

    background-color: pink;
   
}